<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Muuve', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 d-flex align-items-center">
        <% if Current.user %>

          <%= link_to Current.user.email.split('@')[0].capitalize,  password_path , class: 'text-decoration-none text-black-50' %>

          <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-warning mx-2 text-black-50' %>
        <% else %>
          <%= link_to 'Log In', sign_in_path, class: 'btn btn-primary mx-2 text-black-50' %>
          <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-warning mx-2 text-black-50' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
